.input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    @include media($md){
        flex-direction: row;
    };
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.3rem;
    input {
        padding: 0.5rem;
    }
}