html,
body {
  margin: 0;
  padding: 0;
  background-color: $main-bg-color;
  color: darkblue;
  font-weight: 700;
  font-size: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
