button.start-button {
    display: block;
    margin-inline: auto;
    cursor: pointer;
    background-color: var( --primaryAccentColor);
    color: white;
    border-radius: 5px;
    padding: 10px;
}