ul.time-travel {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    li {
        button {
            display: block;
            width: 100%;
            @extend .start-button;
            &[disabled] {
                background-color: lightgray;
                color: black;
            }
        }
    }
}